/* .App {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

h2 {
  font-family: 'Rye', cursive;
  color: brown;
  text-transform: uppercase;
  padding-left: 7.5rem;
}

.gridarea {
  width: 500px;
  height: 500px;
  background-color: rgb(91, 121, 185);
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  flex: 33%;
  height: 100%;
  place-items: center;
  border: 1px solid brown;
  cursor: pointer;
  font-size: 20px;
  color: black;
  
}

.grid:active {
  background-color: rgb(112, 135, 185);;
}

