*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

h2 {
  font-family: 'Rye', cursive;
  color: brown;
  text-transform: uppercase;
  padding-left: 7.5rem;
  margin-bottom: 1rem;
  margin-top: -10rem;
}

.gridarea {
  width: 500px;
  height: 500px;
  background-color: rgb(91, 121, 185);
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  flex: 33%;
  height: 100%;
  place-items: center;
  border: 1px solid brown;
  cursor: pointer;
  font-size: 25px;
  color: black;
  
}

.grid:active {
  background-color: rgb(112, 135, 185);
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
}

.heart1 {
  position: relative;
  bottom: -24rem;
  left: 30rem;
}

.heart2 {
  position: relative;
  top: -5.5rem;
  left: 29rem;
}

.heart3 {
  position: relative;
  top: -9rem;
  left: 36rem;
}

.heart4 {
  position: relative;
  bottom: -30rem;
  left: 35rem;
}

.heart5 {
  position: relative;
  top: -9rem;
  right: 12rem;
}

.heart6 {
  position: relative;
  bottom: -30rem;
  right: 13em;
} 

@media (max-width: 600px) {
	h2 { font-size: 14px; padding-right: 8rem;}
	.gridarea { width: 100%; height: 20rem; margin: 0 auto; }

  .heart1 {
    position: relative;
    top: -5rem;
    left: 22rem;
  }

  .heart2 {
    position: relative;
    top: 13.2rem;
    left: 21rem;
  }

  .heart3 {
    position: relative;
    top: -14rem;
    left: 20rem;
  }

  .heart4 {
    position: relative;
    bottom: -22rem;
    left: 19rem;
  }

  .heart5 {
    position: relative;
    top: -14rem;
    left: -4rem;
  }

  .heart6 {
    position: relative;
    bottom: -22rem;
    left: -5rem;
  }
}