*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

h2 {
  font-family: 'Rye', cursive;
  color: brown;
  text-transform: uppercase;
  padding-left: 7.5rem;
  margin-bottom: 1rem;
  margin-top: -10rem;
}

.gridarea {
  width: 500px;
  height: 500px;
  background-color: rgb(91, 121, 185);
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  flex: 33%;
  height: 100%;
  place-items: center;
  border: 1px solid brown;
  cursor: pointer;
  font-size: 25px;
  color: black;
  
}

.grid:active {
  background-color: rgb(112, 135, 185);
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
}

.heart1, .heart2, .heart3, .heart4, .heart5, .heart6 {
  display: flex;
  position: relative;
}

.heart1 {
  bottom: -24rem;
  left: 30rem;
}

.heart2 {
  top: -5.5rem;
  left: 29rem;
}

.heart3 {
  top: -9rem;
  left: 36rem;
}

.heart4 {
  bottom: -30rem;
  left: 35rem;
}

.heart5 {
  top: -9rem;
  right: 12rem;
}

.heart6 {
  bottom: -30rem;
  right: 13em;
} 

@media (max-width: 600px) {
  .heart1, .heart2, .heart3, .heart4, .heart5, .heart6 {
    display: grid;
    position: relative;
  }

	h2 { position: relative; font-size: 14px; padding-right: 8rem;}
	.gridarea { width: 100%; height: 20rem; margin: 0 auto; }

  .heart1 {
    top: -5em;
    left: 22em;
  }

  .heart2 {
    top: 13.2em;
    left: 21em;
  }

  .heart3 {
    top: -14rem;
    left: 20rem;
  }

  .heart4 {
    bottom: -22rem;
    left: 19rem;
  }

  .heart5 {
    top: -14em;
    left: -4em;
  }

  .heart6 {
    bottom: -22em;
    left: -5em;
  }
}